In [3]:
class student:
    
    #constructor
    
    def __init__(self,sid,sname):
        self.sid=sid
        self.sname=sname
        
        
    def display (self):
        print ("Sid:",self.sid,"Name:",self.sname)

In [4]:
#object / instance
 
stud1=student(201,"Arnab")
stud1.display()

Sid: 201 Name: Arnab

In [8]:
class student:
    def __init__ (self,sid,sname,sage):
        self.sid=sid
        self.sname=sname
        self.sage=sage
        
    def display (self):
        print ("Sid:",self.sid,"Name:",self.sname,"Age:",self.sage)

In [9]:
stud1=student(1,"Arnab",30)
stud1.display()

Sid: 1 Name: Arnab Age: 30

In [11]:
stud1.sname

'Arnab'

In [18]:
class Employee:
    company="Torero Corporation"
    def __init__(self,empid,empname,empage):
        self.empid=empid
        self.empname=empname
        self.empage=empage
        
    def display(self):
        print("Empid:",self.empid,"Name:",self.empname,"Age:",self.empage)

In [14]:
Emp1=Employee(100,"Sourav",35)
Emp2=Employee(101,"Prantik",32)
Emp3=Employee(102,"Sayan",33)

In [15]:
Emp1.display()

Empid: 100 Name: Sourav Age: 35

In [16]:
Emp2.display()

Empid: 101 Name: Prantik Age: 32

In [17]:
Emp3.display()

Empid: 102 Name: Sayan Age: 33

In [19]:
Employee.company

'Torero Corporation'

In [39]:
class players:
    def __init__(self,name,age,sports):
        
    
        self.name=name
        self.age=age
        self.sports=sports
    
    def getdata(self,name,age,sports):
        
        self.name=name
        self.age=age
        self.sports=sports
        
    def displaydata(self):
        print("Players details:",self.name,self.age,self.sports)
        
def main():
    p1=players ("virat",35,"Cricket")
    p1.displaydata()
    
    p1.getdata("Richard",45,"Tennis")
    p1.displaydata()
    
    p2=players ("Dhoni",45,"Cricket")
    p2.displaydata()
    
    
    p2.getdata ("vivian",65,"Cricket")
    p2.displaydata()

In [40]:
if __name__=="__main__":
    main()

Players details: virat 35 Cricket
Players details: Richard 45 Tennis
Players details: Dhoni 45 Cricket
Players details: vivian 65 Cricket

In [45]:
import math

In [46]:
math.pi

3.141592653589793

In [48]:
def testfun():
    radius=int(input("Enter radius"))
    area=math.pi*(radius**2)
    print (area)

In [49]:
testfun()

Enter radius5
78.53981633974483

In [50]:
import datetime

In [53]:
dt=datetime.datetime.now()
dt

datetime.datetime(2023, 7, 7, 19, 50, 1, 994497)

In [2]:
from datetime import date

In [3]:
td=date.today()
td

datetime.date(2023, 7, 7)

In [5]:
print ("year=",td.year)
print ("Month=",td.month)
print ("Date=",td.day)

year= 2023
Month= 7
Date= 7