STRING FUNCTION

In [1]:
a= 'python'

In [2]:
a.upper()

'PYTHON'

In [3]:
b='FACEBOOK'

In [6]:
b.lower()

'facebook'

In [7]:
c='Facebook'

In [8]:
c.swapcase()

'fACEBOOK'

In [9]:
e='space station gave prealert messege of anything on earth'

In [12]:
e.split()

['space',
 'station',
 'gave',
 'prealert',
 'messege',
 'of',
 'anything',
 'on',
 'earth']

In [18]:
world1= 'COMPUTER'

In [19]:
world1.isupper()

True

In [20]:
world2= 'earth is revolving the sun'

In [21]:
world2.capitalize()

'Earth is revolving the sun'

In [22]:
world2.title()

'Earth Is Revolving The Sun'

In [24]:
world2.startswith('earth')

True

In [28]:
world2.find('the')

19

In [34]:
y='python is propuler programing language'

In [36]:
y.count('a')

3

In [37]:
z='Elon Mask launched AI car Tesla'

In [38]:
z.replace('Elon', 'Belon')

'Belon Mask launched AI car Tesla'

In [39]:
text=['NASA', 'is','building','hotel','project','in','Mars']

In [43]:
' '.join(text)

'NASA is building hotel project in Mars'

In [44]:
string1='Tesla'
string2='tesla'
if string1.casefold()==string2.casefold():
    print ('The two string are same')
else:
    print('The two Strong are not same')

The two string are same

In [47]:
name='Arnab'
print ('hello, %s!' % name)

hello, Arnab!

In [49]:
name = 'Arnab'
age= 29
Salary= 40000.546
print ('%s is %d years old taking salary %f '% (name,age,Salary))
print ('Salary = %0.2f ' % Salary)

Arnab is 29 years old taking salary 40000.546000
Salary = 40000.55

In [55]:
country='India'
City= 'Delhi'
Propulation= 5000418
Salary = 35441.12547
print ('%s is the capital of %s has %d propulation having average salary of %0.2f ' % (City,country,Propulation,Salary))

Delhi is the capital of India has 5000418 propulation having average salary of 35441.13

In [56]:
fruit1 ='Mango'
fruit2='Apple'
fruit3='grapes'
print ('I like to eat %s , %s, %s ' % (fruit1,fruit2,fruit3))

I like to eat Mango , Apple, grapes

STRING.FORMATION

In [58]:
print ('people generelly take {1} with {0}'.format ('coke', 'pizza'))

people generelly take pizza with coke

In [60]:
name ='Arnab'
age= 29
print ('His name is {} he is {} years old'.format (name,age))

His name is Arnab he is 29 years old